
            <%- include('includes/employee/header') %>
            <!--header menu end-->
            <!--sidebar start-->
            <%- include('includes/employee/sidebar') %>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">

                
                <form action="/tenantRegistration" method="POST" class="main-form needs-validation" novalidate>
                         
                    <% regErrors.forEach(function(message){%>
                        <div class="alert alert-danger small"><%= message%></div>
                    <%}) %>

        <!-- <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" id="firstname" class="form-control is-invalid">
                   
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" id="lastname" class="form-control">

                </div>
            </div>
        </div> -->
        <div class="form-group">
            <label for="FullName">Full Name</label>
            <input type="text" name="fullname" id="FullName" class="form-control" >
          
        </div>
          <div class="form-group">
            <label for="Companyname">Company name</label>
            <input type="text" name="companyname" id="Companyname" class="form-control" >
            <div class="invalid-feedback">Please enter a valid Company name.</div>
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input type="Number" name="phonenumber" id="PhoneNumber" class="form-control" >
          
        </div>
        <div class="form-group">
            <label for="TinNumber">Tin Number</label>
            <input type="Number" name="tinNumber" id="TinNumber" class="form-control" >
          
        </div>
        <div class="form-group">
            <label for="TinNumber">Address</label>
            <textarea type="text" name="address" id="Address" class="form-control" ></textarea>
          
        </div>
        <div class="form-group">
            <label for="Username">User Name</label>
            <input type="text" name="username" id="Username" class="form-control" >
          
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        var form = document.querySelector('.needs-validation');

        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        })
    </script>
            </div>
            <!--main container end-->
        </div>
        <!--wrapper end-->

        <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });
        </script>

    </body>
</html>
                           