<%- include('../includes/tenant/header') %>
            <!--header menu end-->
            <!--sidebar start-->
<%- include('../includes/tenant/sidebar') %>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">
              
               
  <br/>
  <table class="table table-bordered data-table">
    <thead>
      <th>From</th>
      <th>Message</th>
    
    
      <th width="200px">Action</th>
    </thead>
    <tbody>
    
    </tbody>
  </table>
   
</div>
   
<script type="text/javascript">
   
    $("form").submit(function(e){
        e.preventDefault();
        var name = $("input[name='name']").val();
        var email = $("input[name='email']").val();
        

     
        $(".data-table tbody").append("<tr data-name='"+name+"' data-email='"+email+"' ><td>"+name+"</td><td>"+email+"</td><td></button><button class='btn btn-danger btn-xs btn-delete'>Delete</button></td></tr>");
    
        $("input[name='name']").val('');
        $("input[name='email']").val('');
    });
   
   
    
</script>


            </div>
            <!--main container end-->
        </div>
        <!--wrapper end-->

        <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });
        </script>

    </body>
</html>
                           