<%- include('../includes/tenant/header') %>
            
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <center class="profile">
                        <img src="pic.jpg" alt="">
                        <p>Manager</p>
                    </center>
                    
                  
                   
                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Messages <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="new message.html"><i class="fas fa-envelope"></i><span>New</span></a>
                            <a href="view message.html"><i class="fas fa-envelope-square"></i><span>Sent</span></a>
                           
                        </div>
                    </li>

                     


                    
                    <li class="item" id="Contracts">
                        <a href="#Contracts" class="menu-btn">
                            <i class="fas fa-info-circle"></i><span>Report<i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-address-card"></i><span>Annual</span></a>
                            <a href="#"><i class="fas fa-address-card"></i><span>Monthly</span></a>
                            <a href="#"><i class="fas fa-address-card"></i><span>Daily</span></a>
                        </div>
                    </li>
                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">
              
                <h1>Welcome To <%= user.username%>'s page </h1>
            </div>
            <!--main container end-->
        </div>
        <!--wrapper end-->

        <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });
        </script>

    </body>
</html>
                           